html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  height: 10px;
  padding: 10px;
  border: 3px solid rgb(252, 6, 231);
  border-radius: 20px;
  margin: 30px 10px;
}

h1,
h2 {
  color: #fff;
}
.card-container {
  text-align: center;
}
button {
  height: 34px;
  width: 100px;
  background-color: transparent;
  border-radius: 20px;
  border-color: blue;
  box-shadow: 0 0 10px 10px rgba(0, 0, 255, 0.4);
  color: #fff;
  transition: transform 500ms ease-in-out;
}
button:hover {
  transform: scale(1.05);
  border-color: rgb(252, 6, 231);
  box-shadow: 0 0 10px 10px rgba(255, 0, 242, 0.4),
    inset 0 0 10px 10px rgba(255, 0, 242, 0.4);
}
.image-container {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-image: url(/Assets/crystal.png);
  background-position: center;
  background-size: cover;

  display: flex;
  box-shadow: 0 0 150px 40px rgba(0, 0, 255, 0.4),
    inset 0 0 50px 10px rgba(0, 0, 255, 0.4);
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  width: 100%;
}
.lighting {
  height: 50px;
  width: 50px;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px rgba(0, 0, 255, 0.4),
    inset 0 0 10px 10px rgba(0, 0, 255, 0.4);
  animation: scaleUp 5s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: scale(1.5);
    opacity: 30%;
  }

  50% {
    transform: scale(3);
    opacity: 50%;
  }
  75% {
    box-shadow: 0 0 10px 10px rgba(255, 0, 242, 0.4),
      inset 0 0 10px 10px rgba(255, 0, 242, 0.4);
    transform: scale(4);
    opacity: 70%;
  }
  100% {
    transform: scale(5);
    opacity: 90%;
  }
}
